body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('media/files/Image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle, #ff6b6b, #ffe66d);
    color: #fff;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.spot span {
    margin-top: 10px;
}
