html * {
    font-family: "Calibri", sans-serif;
    font-size: large;
}

table td {
    font-size: 150%;
}

#dice-icon {
    width: 75px;
    height: 75px;
    background-image: url("dado.png");
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 10px;
}

.spaziatura {
    margin-bottom: 6px;
    background-color: #ffffff;
}

.logo-container {
    display: flex;
    align-items: center; /* center items vertically */
    height: 60px; /* set height for container */
    background-color: #1f2041;
}

.logo-image {
    width: 60px; /* set width for logo */
    height: 60px; /* set height for logo */
}

.logo-text {
    flex-basis: calc(100% - 60px);
    text-align: center;
    color: #F0F0C9;
}

.area-bottoni {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vai,
#okB {
    background-color: #f34213;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#speed {
    background-color: #ffffff;
    color: #3e8e41;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

#info {
    background-color: #f34213;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
}

#vai:hover,
#okB:hover,
#info:hover {
    background-color: #F5A70A;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box-left {
    width: 90px;
    margin: 2px;
    color: #1f2041;
    text-align: center;
}
#box-right {
    width: 90px;
    margin: 2px;
    color: #f34213;
    text-align: center;
}

.rolling {
    animation: dice-roll 1s linear infinite;
}

@keyframes dice-roll {
    0% {
        transform: scale(1) rotateX(0) rotateY(0) rotateZ(0);
    }
    50% {
        transform: scale(0.6) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
    100% {
        transform: scale(1) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.line {
    width: 0%;
    height: 3px;
    background-color: #f34213;
    position: absolute;

    left: 0;
    transition: width 8s ease;
}

.line.start-animation {
    width: 100%;
    animation: reduceLine 5s forwards;
}

@keyframes reduceLine {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
