html * {
    font-family: "Calibri", sans-serif;
    font-size: large;
}

#roll-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#roll-button:hover {
  background-color: #3e8e41;
}

#dice-icon {
  width: 100px;
  height: 100px;
  background-image: url('dado.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-top: 20px;
}

.spaziatura {
    margin-bottom: 2px;
    background-color: #ffffff;
}

.gioco-container {
    text-align:center;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center; /* center items vertically */
    height: 60px; /* set height for container */
    background-color: #01a7c1;
}

.logo-image {
    width: 60px; /* set width for logo */
    height: 60px; /* set height for logo */
}

.logo-text {
    flex-basis: calc(100% - 60px);
    text-align: center;
}

.rolling {
  animation: dice-roll 1s linear infinite;
}

@keyframes dice-roll {
  0% {
    transform: scale(1) rotateX(0) rotateY(0) rotateZ(0);
  }
  50% {
    transform: scale(0.6) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
