html * {
    font-family: "Calibri", sans-serif;
    font-size: large;
}

table td {
  font-size: 150%;
}

#dice-icon {
  width: 75px;
  height: 75px;
  background-image: url('dado.png');
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  border-radius: 10px;
}

.spaziatura {
    margin-bottom: 6px;
    background-color: #ffffff;
}

.logo-container {
    display: flex;
    align-items: center; /* center items vertically */
    height: 60px; /* set height for container */
    background-color: #01a7c1;
}

.logo-image {
    width: 60px; /* set width for logo */
    height: 60px; /* set height for logo */
}

.logo-text {
    flex-basis: calc(100% - 60px);
    text-align: center;
}

.area-bottoni {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vai, #okB {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#info {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
}


#vai:hover, #okB:hover, #info:hover {
  background-color: #3e8e41;
}
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #box-left {
        width: 90px;
        margin: 2px;
        color: #3a86ff;
        text-align: center;
    }
    #box-right {
        width: 90px;
        margin: 2px;
        color: #ff006e;
        text-align: center;
    }

.rolling {
  animation: dice-roll 1s linear infinite;
}

@keyframes dice-roll {
  0% {
    transform: scale(1) rotateX(0) rotateY(0) rotateZ(0);
  }
  50% {
    transform: scale(0.6) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
    transform: scale(1) rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

